@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --secondary: #efefef;
  --foreground: #171717;
  --highlight: #fed50a;
  --highlight-dark: #d3a500;
  --gray: #f5f5f5;
  --gray-dark: #ccc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: var(--highlight-dark);
  text-decoration: none;
}

.action-button {
  width: fit-content;
  background: var(--secondary);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
  background: var(--highlight);
}

.flat-button {
  background: none;
  color: var(--foreground);
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
